<%= stylesheet_link_tag 'public/customers' %>
<div class="container">

  <div class="row">
    <h1>ユーザー編集</h1>
  </div>

  <div class="row">
    <%= display_flash_messages %>
      <% if @customer.errors.any? %>
        <div class="validation-messages">
        <%= @customer.errors.count %>箇所エラーがありますので、再度入力を確認してください。
        <ul>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= form_with model: @customer, url: "/customers/information" do |f| %>
      <div class="field">
        <label>プロフィール画像</label>
        <%= f.file_field :profile_image, accept: "image/jpeg,image/png" %>
      </div>
      <div class="field">
        <label for="inputName">ペンネーム</label>
        <%= f.text_field :name, autofocus: true, id: "inputName" %>
      </div>
      <div class="field">
        <label for="inputPreference">好物</label>
        <%= f.text_area :preference, id: "inputPreference" %>
      </div>
      <div class="field">
        <label for="inputWeak">苦手</label>
        <%= f.text_area :weak, id: "inputWeak" %>
      </div>
      <%= f.submit "更新", class: "btn btn-secondary" %>
    <% end %>
  </div>

  <div class="row quit">
    <h3><strong>退会はコチラ</strong></h3>
  </div>
  <div class="row">
    <h5>
      退会すると、会員登録情報や<br/>
      これまで投稿したものが全て閲覧できなくなります。<br/>
      退会する場合は「退会する」をクリックしてください。
    </h5>
  </div>
  <div class="row">
    <%= link_to "退会する", out_customers_path, method: :delete, class: "btn btn-danger", data: { confirm: "本当に退会しますか？" } %>
  </div>
</div>
