<%= stylesheet_link_tag 'public/favorites' %>
<div class="container">
  <div class="row">
    <h3><%= @customer.name %>のお気に入りアイデア一覧</h3>
  </div>

  <div class="row">
    <% @favorite_ideas.each do |idea| %>
      <table>
        <tbody>
          <tr>
            <td>
              <%= link_to customer_path(idea.customer_id), class: 'link-button' do %>
                <%= image_tag idea.customer.get_profile_image(80, 80), class: 'profile-image' %>
                <span><%= idea.customer.name %></span>
              <% end %>
            </td>
            <td>
              更新日：<%= update_time_check(idea) %>
            </td>
          </tr>
          <tr>
            <td>タグ</td>
          </tr>
          <tr>
            <td colspan=2>
              <% idea.tags.each do |tag| %>
                <%= link_to tag.word, tag_path(tag), class: 'tag' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>アイデア</td>
          </tr>
          <tr>
            <td colspan=2><%= idea.introduction %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="row">
    <%= paginate @favorite_ideas, class: "pagination" %>
  </div>
</div>
