<%= stylesheet_link_tag 'public/favorites' %>
<div class="container">
  <div class="row">
    <h3><%= @customer.name %>のお気に入りアイデア一覧</h3>
  </div>

  <div class="row">
    <% @favorite_ideas.each do |idea| %>
      <table>
        <tbody>
          <tr>
            <td>
              <%= link_to customer_path(idea.customer_id), class: 'link-button' do %>
                <div class="profile-container">
                  <%= image_tag idea.customer.get_profile_image(80, 80), class: 'profile-image' %>
                  <div class="profile-name">
                    <span><%= idea.customer.name %></span>
                  </div>
                </div>
              <% end %>
            </td>
            <td>
              更新日：<%= update_time_check(idea) %>
            </td>
          </tr>
          <tr>
            <td colspan=2>タグ</td>
          </tr>
          <tr>
            <td colspan=2>
              <% idea.tags.each do |tag| %>
                <%= link_to (tag.word.length > 5 ? "#{tag.word[0..4]}..." : tag.word), tag_path(tag), class: 'tag', title: tag.word %>  <!--5文字以上は...で省略-->
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan=2>アイデア</td>
          </tr>
          <tr>
            <td colspan=2 class="preference-style"><%= content_tag(:div, idea.introduction, class: "scroll") %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="row">
    <%= paginate @favorite_ideas, class: "pagination" %>
  </div>
</div>
