<h1>ユーザー一覧</h1>

<table>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td>
          <%= link_to customer_path(customer.id) do %>
            <%= image_tag customer.get_profile_image(100,100) %>
            <%= customer.name %>
          <% end %>
        </td>
        <td>フォローボタン</td>
        <td>相互ならDMするボタン</td>
      </tr>
      <tr>
        <td>好物</td>
        <td><%= customer.preference %></td>
      </tr>
      <tr>
        <td>苦手</td>
        <td><%= customer.weak %></td>
      </tr>
      <tr>
        <td>フォロー一覧</td>
      </tr>
      <tr>
        <td><%= "アイデア数：#{customer.ideas.count} " %></td>
        <td>お気に入りのアイデア：〇</td>
      </tr>
    <% end %>
  <tbody>
</table>
<div>
  <%= paginate @customers, class: "pagination" %>
</div>