<%= stylesheet_link_tag 'public/customers' %>
<div class="container">
  <div class="row">
    <%= notice %>
  </div>

  <div class="row">
    <% if @customer == current_customer %>
      <h1>マイページ</h1>
    <% else %>
      <h1>ユーザー詳細</h1>
    <% end %>
  </div>

  <div class="row">
    <% if flash[:alert] %>
      <div id="error_explanation">
        <h2><%= flash[:alert] %></h2>
      </div>
    <% end %>
  </div>

  <div class="row">
    <table>
      <tbody>
        <tr>
          <td>
            <%= image_tag @customer.get_profile_image(100, 100) %>
            <span><%= @customer.name %></span>
          </td>
          <% if @customer == current_customer %>
            <td>
              <%= link_to "編集", edit_my_page_customers_path %>
            </td>
          <% else %>
            <td><%= render "public/relationships/followbtn", customer: @customer, options: { class: ""} %></td>
            <td>相互ならDMするボタン</td>
          <% end %>
        </tr>
        <tr>
          <td>好物</td>
          <td><%= @customer.preference %></td>
        </tr>
        <tr>
          <td>苦手</td>
          <td><%= @customer.weak %></td>
        </tr>
        <tr>
          <td><%= link_to "フォロー：#{@customer.follower_customer.count}人", customer_follower_path(@customer) %></td>
          <td><%= link_to "フォロワー：#{@customer.followed_customer.count}人", customer_followed_path(@customer) %></td>
          <td><%= "アイデア数：#{@customer.ideas.count} " %></td>
          <td>
              <% if @customer.favorites.count > 0 %>
                <%= link_to "お気に入りアイデア数：#{@favorite_ideas_count}個", favorite_customer_path(@customer) %>
              <% else %>
                お気に入り無し
              <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= render 'public/ideas/list', ideas: @ideas %>
  </div>
</div>
