<%= stylesheet_link_tag 'public/customers' %>
<div class="container">

  <div class="row">
    <% is_current_user = @customer == current_customer %>  <!--↓2回出てくる@customer == current_customerを変数に入れて利用-->
    <h1><%= is_current_user ? 'マイページ' : 'ユーザー詳細' %></h1>  <!--currentユーザーならマイページを表示-->
  </div>

  <div class="row">
    <%= display_flash_messages %> <!--ヘルパーメソッドで指定-->
  </div>

  <div class="row">
    <table>
      <tbody>
        <tr>
          <td>
            <%= image_tag @customer.get_profile_image(80, 80), class: 'profile-image' %>
            <span><%= @customer.name %></span>
          </td>
          <td><%= "アイデア数：#{@customer.ideas.count} " %></td>
          <% if is_current_user %>
            <td><%= link_to "編集", edit_my_page_customers_path, class: 'edit-btn' %></td>
          <% else %>
            <td><%= render "public/relationships/followbtn", customer: @customer %></td>
          <% end %>
        </tr>
        <tr>
          <td>好物</td>
        </tr>
        <tr>
          <td colspan=4><%= @customer.preference %></td>
        </tr>
        <tr>
          <td>苦手</td>
        </tr>
        <tr>
          <td colspan=4><%= @customer.weak %></td>
        </tr>
        <tr>
          <td><%= link_to "フォロー：#{@customer.follower_customer.count}人", follower_customer_path(@customer), class: 'link-button' %></td>
          <td><%= link_to "フォロワー：#{@customer.followed_customer.count}人", followed_customer_path(@customer), class: 'link-button' %></td>
          <td>
            <% if @customer.favorites.count > 0 %>
              <%= link_to "お気に入りアイデア数：#{@favorite_ideas_count}個", favorite_customer_path(@customer), class: 'link-button' %>
            <% else %>
              お気に入り無し
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= render 'public/ideas/list', ideas: @ideas %>
  </div>
</div>
