<%= stylesheet_link_tag 'public/authentication' %>
<div class="container">
  <div class="row">
    <h2>管理者ログイン</h2>
  </div>

  <div class="row">
    <%= display_flash_messages %> <!--ヘルパーメソッドで指定-->
  </div>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
    <div class="row field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="row field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="row field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="row actions field">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>
