<%= stylesheet_link_tag 'admin/customers' %>
<div class="container">
  <div class="row">
    <%= notice %>
  </div>

  <div class="row">
    <% if flash[:alert] %>
      <div id="error_explanation">
        <h2><%= flash[:alert] %></h2>
      </div>
    <% end %>
  </div>

  <div class="row">
    <table>
      <tbody>
        <tr>
          <td>
            <%= image_tag @customer.get_profile_image(50, 50) %>
            <span><%= @customer.name %></span>
          </td>
          <td>
            <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
              <label>会員ステータス</label>
              <%= f.radio_button :is_active, true, id: "active" %>
              <%= f.label :is_active, "有効", for: "active" %>
              <%= f.radio_button :is_active, false, id: "inactive" %>
              <%= f.label :is_active, "退会", for: "inactive" %>
              <%= f.submit "切り替える", data: { confirm: "本当に切り替えますか？" } %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>好物</td>
          <td><%= @customer.preference %></td>
        </tr>
        <tr>
          <td>苦手</td>
          <td><%= @customer.weak %></td>
        </tr>
        <tr>
          <td><%= "フォロー：#{@customer.follower_customer.count}人" %></td>
          <td><%= "フォロワー：#{@customer.followed_customer.count}人" %></td>
        </tr>
        <tr>
          <td><%= "アイデア数：#{@customer.ideas.count}個" %></td>
          <td><%= "お気に入りアイデア数：#{@customer.favorites.count}個" %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
