  <% if ideas.empty? %>
    <p>アイデアが未投稿または非公開です</p>
  <% else %>
    <table>
      <thead>
        アイデア一覧
      </thead>
      <tbody>
        <% ideas.each do |idea| %>
          <tr>
            <td>更新日</td>
            <% if idea.updated_at.present? %>
              <td>
              <%= idea.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
              </td>
            <% else %>
              <td>
              <%= idea.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
              </td>
            <% end %>
            <% if idea.customer == current_customer %>
              <td><%= link_to "詳細/編集", edit_idea_path(idea.id) %></td>
              <td><%= link_to "削除", idea_path(idea.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
            <% end %>
          </tr>
          <tr>
            <td>タグ</td>
            <% if @customer == current_customer %>
              <td>
                お気に入り：<%= idea.favorites.count %>人
              </td>
            <% else %>
              <td id="favorite_btn_<%= idea.id %>">
                <%= render "public/favorites/btn", idea: idea %>
              </td>
            <% end %>
            <% if idea.customer == current_customer %>
              <td>
                ステータス：<%= idea.is_active ? "公開" : "非公開" %>
              </td>
            <% end %>
          </tr>
          <tr>
            <td>
              <% idea.tags.each do |tag| %>
                <span class="tag"><%= tag.word %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>アイデア</td>
          </tr>
          <tr>
            <td><%= idea.introduction %></td>
          </tr>
          <% if idea.customer == current_customer %>
            <tr>
              <td>タイトル</td>
            </tr>
            <tr>
              <td><%= idea.title %></td>
            </tr>
            <tr>
              <td>本文</td>
            </tr>
            <tr>
              <td><%= idea.body %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div>
    <%= paginate ideas, class: "pagination" %>
  </div>