  <% if ideas.empty? %>
    <div>アイデアが未投稿または非公開です</div>
  <% else %>
    <div>
      アイデア一覧
    </div>
    <table>
      <tbody>
        <% ideas.each do |idea| %>
          <tr>
            <td colspan=2>更新日：<%= update_time_check(idea) %></td>  <!--アイデアヘルパーで定義-->
            <% if idea.customer == current_customer %>  <!--編集と削除は自分だけ-->
              <td><%= link_to "詳細/編集", edit_idea_path(idea.id) %></td>
              <td><%= link_to "削除", idea_path(idea.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
            <% end %>
          </tr>
          <tr>
            <td>タグ</td>
            <% if @customer == current_customer %>
              <td>
                お気に入り：<%= idea.favorites.count %>人
              </td>
            <% else %>
              <td id="favorite_btn_<%= idea.id %>">
                <%= render "public/favorites/btn", idea: idea %>
              </td>
            <% end %>
            <% if idea.customer == current_customer %>  <!--公開ステータスは自分だけ-->
              <td>ステータス：<%= idea.is_active ? "公開" : "非公開" %></td>
            <% end %>
          </tr>
          <tr>
            <td colspan=4>
              <% idea.tags.each do |tag| %>
                <span><%= link_to tag.word, tag_path(tag), class: 'tag' %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>アイデア</td>
          </tr>
          <tr>
            <td colspan=4><%= idea.introduction %></td>
          </tr>
          <% if idea.customer == current_customer %>
            <tr>
              <td>タイトル</td>
            </tr>
            <tr>
              <td colspan=4><%= idea.title %></td>
            </tr>
            <tr>
              <td>本文</td>
            </tr>
            <tr>
              <td colspan=4><%= idea.body %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div>
    <%= paginate ideas, class: "pagination" %>
  </div>