
<h1>投稿一覧　この1文はマイぺ作ったら消す</h1>

<% ideas.each do |idea| %>
  <div>
    更新日
    <% if idea.updated_at.present? %>
      <%= idea.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
    <% else %>
      <%= idea.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
    <% end %>
    <span><%= link_to "詳細/編集", edit_idea_path(idea.id) %></span>
    <span>削除ボタン</span>
  </div>
  <div>
    タグ
    <span>いいね：〇<span>
  </div>
  <div>
    アイデア<br />
    <%= idea.introduction %>
  </div>
  <% if idea.customer == current_customer %>
    <div>
      <p>タイトル</p>
      <%= idea.title %>
      <p>本文</p>
      <%= idea.body %>
    </div>
  <% end %>
<% end %>