<%= stylesheet_link_tag 'public/idea_searches' %>
<div class="container">
  <div class="row">
    <h3>アイデア：【<%= @word %>】の検索結果 <%= @total_count %>件</h3>
  </div>

  <div class="row">
    <table>
      <tbody>
        <% ideas.each do |idea| %>
          <tr>
            <td>
              <%= link_to customer_path(idea.customer_id) do %>
                <%= image_tag idea.customer.get_profile_image(100, 100), class: 'profile-image' %>
                <span><%= idea.customer.name %></span>
              <% end %>
            </td>
            <td>更新日</td>
            <% if idea.updated_at.present? %>
              <td>
              <%= idea.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
              </td>
            <% else %>
              <td>
              <%= idea.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
              </td>
            <% end %>
          </tr>
          <tr>
            <td>タグ</td>
            <td><%= "お気に入り数：#{idea.favorites.count}" %></td>
          </tr>
          <tr>
            <td>投稿に付けられたタグ</td>
          </tr>
          <tr>
            <td>アイデア</td>
          </tr>
          <tr>
            <td><%= idea.introduction %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= paginate ideas, class: "pagination" %>
  </div>
</div>
