<%= stylesheet_link_tag 'public/tags' %>
<div class="container">
  <div class="row">
    <h3>アイデア：【<%= @word %>】の検索結果 <%= @total_count %>件</h3>
  </div>

  <div class="row">
    <% ideas.each do |idea| %>
      <table>
        <tbody>
          <tr>
            <td>
              <%= link_to customer_path(idea.customer_id) do %>
                <%= image_tag idea.customer.get_profile_image(80, 80), class: 'profile-image' %>
                <span><%= idea.customer.name %></span>
              <% end %>
            </td>
            <td>更新日</td>
            <td><%= update_time_check(idea) %></td>  <!--アイデアヘルパーで定義-->
          </tr>
          <tr>
            <td>タグ</td>
              <% if idea.customer == current_customer %>
                <td>
                  <% if idea.favorites.count > 0 %>
                    <%= link_to "お気に入りアイデア数：#{idea.favorites.count}個", favorite_customer_path(idea.customer_id) %>
                  <% else %>
                    お気に入り無し
                  <% end %>
                </td>
              <% else %>
                <td id="favorite_btn_<%= idea.id %>">
                  <%= render "public/favorites/btn", idea: idea %>
                </td>
              <% end %>
          </tr>
          <tr>
            <td colspan=3>
              <% idea.tags.each do |tag| %>
                <%= link_to (tag.word.length > 5 ? "#{tag.word[0..4]}..." : tag.word), tag_path(tag), class: 'tag', title: tag.word %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan=3>アイデア</td>
          </tr>
          <tr>
            <td colspan=3 class="preference-style"><%= content_tag(:div, idea.introduction, class: "scroll") %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="row">
    <%= paginate ideas, class: "pagination" %>
  </div>
</div>
