<%= stylesheet_link_tag 'public/tags' %>
<div class="container">
  <div class="row">
    <h1>【<%= @tag.word %>】のタグが付いているアイデア一覧</h1>
    <% if @ideas.empty? %>
      <p>このタグが付いたアイデアはありません。もしくは非公開となっています。</p>
    <% else %>
      <div class="row">
        <table>
          <tbody>
            <% @ideas.each do |idea| %>
              <tr>
                <td class="profile-info">
                  <%= link_to customer_path(idea.customer_id) do %>
                    <%= image_tag idea.customer.get_profile_image(100, 100), class: 'profile-image' %>
                    <span class="customer-name"><%= idea.customer.name %></span>
                  <% end %>
                </td>
                <td>更新日</td>
                <% if idea.updated_at.present? %>
                  <td>
                    <%= idea.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
                  </td>
                <% else %>
                  <td>
                    <%= idea.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td>タグ</td>
                <% if idea.favorites.count > 0 %>
                  <td>
                    <%= "お気に入り：#{idea.favorites.count}人" %>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td class="tags-list">
                  <% idea.tags.each do |tag| %>
                    <%= link_to tag.word, tag_path(tag), class: 'tag' %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>アイデア</td>
              </tr>
              <tr>
                <td class="idea-introduction"><%= idea.introduction %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <%= paginate @ideas, class: "pagination" %>
      </div>
    <% end %>
  </div>
</div>
