<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <h1><%= link_to "アイデア帳（仮）", root_path %></h1>
        <div>画像+<%= current_customer.name %></div>
        <div class="header-bottom">
          <ul class="nav nav-pills nav-justified">
            <li><%= link_to "about", about_path, class: "nav-link" %></li>
            <li><%= link_to "マイページ", my_page_path, class:"nav-link" %></li>
            <li><%= link_to "新規投稿", new_idea_path, class: "nav-link" %></li>
            <li><%= link_to "ユーザー一覧", customers_index_path, class: "nav-link" %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, class:"nav-link", method: :delete %></li>
          </ul>
        </div>
      <% elsif admin_signed_in? %>
        <div class="admin-header">
          <h1><%= link_to "アイデア帳（仮）", admin_path %></h1>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "会員一覧", admin_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          </ul>
        </div>
      <% else %>
        <h1><%= link_to "アイデア帳（仮）", root_path %></h1>
        <div class="header-bottom">
          <ul class="nav nav-pills nav-justified">
            <li><%= link_to "About", about_path, class:"nav-link" %></li>
            <li><%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %></li>
            <li><%= link_to "ログイン", new_customer_session_path, class:"nav-link" %></li>
          </ul>
        </div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="text-center text-muted" style="margin: 50px 0;">© 2024  アイデア帳（仮）</div>
      </div>
    </footer>
  </body>
</html>
